<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>language</key>
		<string>English</string>
		<key>clientAccessToken</key>
		<string>92fa31b4e15c4ffca80dca2942deb6d3</string>
		<key>lang</key>
		<string>en</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Deutsch</string>
		<key>clientAccessToken</key>
		<string>b3de3bd82cd54254bbe35fd25d1f81bc</string>
		<key>lang</key>
		<string>de</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Español</string>
		<key>clientAccessToken</key>
		<string>b64ea3877df54cd7a0adc7f3a97929da</string>
		<key>lang</key>
		<string>es</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Français</string>
		<key>clientAccessToken</key>
		<string>53c95265e618448f909b9562a7f2b29e</string>
		<key>lang</key>
		<string>fr</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Italiano</string>
		<key>clientAccessToken</key>
		<string>700e909d22a344c7b405a5ca82e37d68</string>
		<key>lang</key>
		<string>it</string>
	</dict>
	<dict>
		<key>language</key>
		<string>日本語</string>
		<key>clientAccessToken</key>
		<string>f36555bbfff7480ea6b26e4c6a370077</string>
		<key>lang</key>
		<string>ja</string>
	</dict>
	<dict>
		<key>language</key>
		<string>한국의</string>
		<key>clientAccessToken</key>
		<string>27865280e7fd436b8523938f40fc5b9d</string>
		<key>lang</key>
		<string>ko</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Português (Portugal)</string>
		<key>clientAccessToken</key>
		<string>3f71440584844f048bad712daf9e19de</string>
		<key>lang</key>
		<string>pt-PT</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Português (Brasil)</string>
		<key>clientAccessToken</key>
		<string>1d093587fc4f48c5a3529c6fb48c3291</string>
		<key>lang</key>
		<string>pt-BR</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Русский</string>
		<key>clientAccessToken</key>
		<string>bb93d0b7620141c98cd305fbaf989481</string>
		<key>lang</key>
		<string>ru</string>
	</dict>
	<dict>
		<key>language</key>
		<string>中文（简体)</string>
		<key>clientAccessToken</key>
		<string>2feb604b0f59447db2f64a2c8a7c271d</string>
		<key>lang</key>
		<string>zh-Hans</string>
	</dict>
	<dict>
		<key>language</key>
		<string>中文（廣東話)</string>
		<key>clientAccessToken</key>
		<string>e0caf8e54b1041bc8955e44e69304026</string>
		<key>lang</key>
		<string>zh-Hant-HK</string>
	</dict>
	<dict>
		<key>language</key>
		<string>中文（繁體)</string>
		<key>clientAccessToken</key>
		<string>b0df697344d142f4a1597250741d0ed8</string>
		<key>lang</key>
		<string>zh-Hant-TW</string>
	</dict>
</array>
</plist>
