<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>language</key>
		<string>English</string>
		<key>clientAccessToken</key>
		<string>327bf2eb54904e508362f6fb528ce00a</string>
		<key>subscribtionKey</key>
		<string>62f2522a-7404-4c28-b9ac-097ca5d8b32d</string>
		<key>lang</key>
		<string>en</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Deutsch</string>
		<key>clientAccessToken</key>
		<string>96807aac0e98426eaf684f4081b7e431</string>
		<key>subscribtionKey</key>
		<string>62f2522a-7404-4c28-b9ac-097ca5d8b32d</string>
		<key>lang</key>
		<string>de</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Español</string>
		<key>clientAccessToken</key>
		<string>430d461ea8e64c09a4459560353a5b1d</string>
		<key>subscribtionKey</key>
		<string>62f2522a-7404-4c28-b9ac-097ca5d8b32d</string>
		<key>lang</key>
		<string>es</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Français</string>
		<key>clientAccessToken</key>
		<string>d6434b3bf49d4a93a25679782619f39d</string>
		<key>subscribtionKey</key>
		<string>62f2522a-7404-4c28-b9ac-097ca5d8b32d</string>
		<key>lang</key>
		<string>fr</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Italiano</string>
		<key>clientAccessToken</key>
		<string>4319f7aa1765468194d9761432e4db36</string>
		<key>subscribtionKey</key>
		<string>62f2522a-7404-4c28-b9ac-097ca5d8b32d</string>
		<key>lang</key>
		<string>it</string>
	</dict>
	<dict>
		<key>language</key>
		<string>日本語</string>
		<key>clientAccessToken</key>
		<string>6cab6813dc8c416f92c3c2e2b4a7bc27</string>
		<key>subscribtionKey</key>
		<string>62f2522a-7404-4c28-b9ac-097ca5d8b32d</string>
		<key>lang</key>
		<string>ja</string>
	</dict>
	<dict>
		<key>language</key>
		<string>한국의</string>
		<key>clientAccessToken</key>
		<string>b0219c024ee848eaa7cfb17dceb9934a</string>
		<key>subscribtionKey</key>
		<string>62f2522a-7404-4c28-b9ac-097ca5d8b32d</string>
		<key>lang</key>
		<string>ko</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Português (Portugal)</string>
		<key>clientAccessToken</key>
		<string>4c4a2277516041f6a1c909163ebfed39 </string>
		<key>subscribtionKey</key>
		<string>62f2522a-7404-4c28-b9ac-097ca5d8b32d</string>
		<key>lang</key>
		<string>pt-PT</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Português (Brasil)</string>
		<key>clientAccessToken</key>
		<string>6076377eea9e4291854204795b55eee9</string>
		<key>subscribtionKey</key>
		<string>62f2522a-7404-4c28-b9ac-097ca5d8b32d</string>
		<key>lang</key>
		<string>pt-BR</string>
	</dict>
	<dict>
		<key>language</key>
		<string>Русский</string>
		<key>clientAccessToken</key>
		<string>adcb900f02594f4186420c082e44173e</string>
		<key>subscribtionKey</key>
		<string>62f2522a-7404-4c28-b9ac-097ca5d8b32d</string>
		<key>lang</key>
		<string>ru</string>
	</dict>
	<dict>
		<key>language</key>
		<string>中文（简体)</string>
		<key>clientAccessToken</key>
		<string>2b575c06deb246d2abe4bf769eb3200b</string>
		<key>subscribtionKey</key>
		<string>62f2522a-7404-4c28-b9ac-097ca5d8b32d</string>
		<key>lang</key>
		<string>zh-Hans</string>
	</dict>
	<dict>
		<key>language</key>
		<string>中文（廣東話)</string>
		<key>clientAccessToken</key>
		<string>00ef32d3e35f43178405c046a16f3843 </string>
		<key>subscribtionKey</key>
		<string>62f2522a-7404-4c28-b9ac-097ca5d8b32d</string>
		<key>lang</key>
		<string>zh-Hant-HK</string>
	</dict>
	<dict>
		<key>language</key>
		<string>中文（繁體)</string>
		<key>clientAccessToken</key>
		<string>dd7ebc8a02974155aeffec26b21b55cf</string>
		<key>subscribtionKey</key>
		<string>62f2522a-7404-4c28-b9ac-097ca5d8b32d</string>
		<key>lang</key>
		<string>zh-Hant-TW</string>
	</dict>
</array>
</plist>
